<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/login.css">    
     <script src=""></script>
</head>

<body>
    
    <div id="main">
        <!-- <div id="header">
            <div class="container">
                <div id="logo"> <span class="message">Message board</span><span class="posts"></span> </div>
                <div class="header-right">
                  <div class="clears">
                </div>
            </div>
        </div> -->
        
        <div id="login-form">
            
           <h1 class="message-board"><strong>Message Board</strong></h1>
            <span class="designed">Designed and Developed by Narasing Raju</span>
            
            <div class="input-field">
                        <span class="sign-up" id="sign-up"><%= link_to "Sign up", new_user_registration_path %></span>
                        <span class="login" id="login"><%= link_to "Login", new_user_session_path %></span>
                <div class="clears"></div>
            </div>
            
           
        </div>
        
        <div class="footer">
            <div class="footer-container">
            <p class="left-content">© 2017 Bussiness Web. All Rights Reserved</p>
            <p class="right-content">Designed by Narasing Raju</p>
                </div>
        </div>
    </div>
   
</body>
</html>