<div class="footer">
    <div class="footer-container">
      <p class="left-content">© 2017 Bussiness Web. All Rights Reserved</p>
      <p class="right-content">Designed by Narasing Raju</p>
      <div class="clears">
      </div>
    </div>
</div>